kind: Pod
apiVersion: v1
metadata:
  name: pod-secret-vol-env
spec:
  containers:
    - name: my-container
      image: nginx
      envFrom:
        - secretRef:
            name: my-secret
            optional: true
      volumeMounts:
        - name: my-volume
          mountPath: "/etc/my-vol"
          readOnly: true
  volumes:
    - name: my-volume
      secret:
        secretName: my-secret
        optional: true