apiVersion: v1
kind: Secret
metadata:
  name: my-secret
data: 
  username: bXktdXNlcm5hbWU=  # base64 for 'my-username'
  password: bXktcGFzc3dvcmQ=  # base64 for 'my-password'
stringData:
  my-database-name: mariadb
immutable: true
---
kind: Pod
apiVersion: v1
metadata:
  name: pod-secret-vol-env
spec:
  containers:
    - name: my-container
      image: nginx
      envFrom:
        - secretRef:
            name: my-secret
      volumeMounts:
        - name: my-volume
          mountPath: "/etc/my-vol"
          readOnly: true
  volumes:
    - name: my-volume
      secret:
        secretName: my-secret